/* CSS Document */
body {
	background-color:#fbfbfb;
	font-family: 'Open Sans', sans-serif;
	border-top: 6px solid #3A3A3A;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
}
hr {
    background: #EEEEEE;
    border: 0 none;
    color: #EFEFEF;
    height: 1px;
	margin: 18px 0;
}
a, a:visited {
	color: #3A3A3A;
	text-decoration: none;
}

a:focus{
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
a:hover,a:active{
	outline:0;
	color: #A70B00;
	text-decoration: underline;
	}
.header {
	background-color:#FFF;
	border-bottom:1px solid #eee;
	-webkit-box-shadow:  0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 6px 8px 0px rgba(0, 0, 0, 0.2);
	margin-bottom:20px;
}

#logo h2  {
	color:#333;
	font-weight:500;
	font-size:20px;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
	position:relative;
	left: 20px;
	float:left;
	
}

#logo img{
		width:70px;
		float:left;
}
#logo h2:hover {
	color: #A70B00;
}


.dmxNavigationMenu {
	background: none;
}
#slider-wrap {
	margin-bottom:20px;
}
.textbox h2 {
	font-weight:700;
}
span.customcolor {
	color:#A70B00;
}
#PageTitle h1 {
	font-size: 21px;
    font-weight: 400;
	text-align: center;
}
#PageSubTitle h2 {
	    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}
#Sidebar h4 {
	color: #474747;
    font-weight: 600;
    margin-bottom: 15px;
	font-size:18px
}
#Sidebar ul {
	list-style-type:none;
	padding-left:15px;
}
.imagebox {
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.thumbnail {
	border: 1px solid #DDDDDD;
	display: block;
	line-height: 1;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.thumbnail-description {
	    color: #666666;
    font-size: 12px;
    padding: 14px 20px 14px;
    position: relative;
    text-align: left;
}
.thumbnail:hover {
	border-color: #cccccc;
}
#footer {
	background: #3A3A3A;
    color: #868686;
    margin-top: 80px;
    padding: 35px 0 0px;
	bottom: 0;
	width: 100%;
}
#footer a {
    color: #868686;
	text-decoration:none;
}
#footer-left i {
	margin-left:15px;
}
#footer-right i {
	float:right;
	width:36px;
}
#footer-right i {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#footer-right i:hover {
	color: #A70B00;
}
#footer-bottom {
    background: none repeat scroll 0 0 #303030;
    line-height: 17px;
    padding: 12px 0;
	color: #868686;
}
#footer, #footer-bottom {
	font-size:12px;}